:root {
	--color-black: #000;
	--color-white: rgb(223, 223, 223);
}

.heightFix {
	height: 100%;
	display: flex;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--color-black);
	color: var(--color-white);

	font-size: 2rem;
	font-weight: 700;

	padding: 0rem 15rem;
	height: 9rem;
}
.logo {
	display: flex;
	gap: 1rem;
	align-items: center;

	color: var(--color-white);
	text-decoration: none;
	font-size: 3.5rem;
}

.menu {
	display: flex;
	gap: 8rem;
}
.menu-item {
	list-style: none;
	letter-spacing: -0.05rem;
}

.menu-item a.menu-item-link {
	display: flex;
	align-items: center;
	height: 100%;

	color: var(--color-white);
	text-decoration: none;
	transition: all 0.2s ease;
}
.menu-item a.menu-item-link:hover,
.menu-item a.menu-item-link:active,
.menu-item a.menu-item-link.active {
	/* padding-bottom: 2.5rem; */
	border-bottom: 3px solid var(--color-white);
}

.menu-item-center {
	align-self: center;
}

.menu-item-btn:link,
.menu-item-btn:visited {
	font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: -0.05rem;
	text-transform: uppercase;
	text-decoration: none;

	background-color: var(--color-black);
	color: var(--color-white);

	border: 1px solid var(--color-white);
	border-radius: 2px;
	padding: 1rem 2rem;

	transition: all 0.2s ease;
}

.menu-item-btn:hover,
.menu-item-btn:active {
	color: var(--color-black);
	background-color: var(--color-white);
}
