:root {
	--color-black: #000;
	--color-white: rgb(223, 223, 223);
	--color-pure-white: #fff;
}

.heightFix {
	height: 100%;
	display: flex;
}

.navbar {
	/* position: fixed;
	width: 100%;
	top: 0;
	left: 0; */

	/*
	VARIABLES
	*/
	--width-1: 55em;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--color-black);
	color: var(--color-white);

	font-size: 2rem;
	font-weight: 700;

	padding: 0rem 15rem;
	height: 9rem;

	/* z-index: 99999; */
}
.logo {
	display: flex;
	gap: 1rem;
	align-items: center;

	color: var(--color-white);
	text-decoration: none;
	font-size: 5.5rem;
}

.logo span {
	font-size: 3.2rem;
}

.mobile-menubars {
	display: none;
	align-self: center;
}

.show {
	display: block;
}

.menu {
	display: flex;
	gap: 6rem;
}
.menu-item {
	list-style: none;
	letter-spacing: -0.05rem;
}

.menu-item a.menu-item-link {
	display: flex;
	align-items: center;
	height: 100%;

	color: var(--color-white);
	text-decoration: none;
	transition: all 0.2s ease;
}
.menu-item a.menu-item-link:hover,
.menu-item a.menu-item-link:active,
.menu-item a.menu-item-link.active {
	/* padding-bottom: 2.5rem; */
	border-bottom: 3px solid var(--color-white);
}

.menu-item-center {
	align-self: center;
	min-width: 12rem;
}

.menu-item-btn:link,
.menu-item-btn:visited {
	font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: -0.05rem;
	text-transform: uppercase;
	text-decoration: none;

	background-color: var(--color-black);
	color: var(--color-white);

	border: 1px solid var(--color-white);
	border-radius: 2px;
	padding: 1rem 2rem;

	transition: all 0.2s ease;
}

.menu-item-btn:hover,
.menu-item-btn:active {
	color: var(--color-black);
	background-color: var(--color-white);
}

/* 1120px */
@media (max-width: 74em) {
	.navbar {
		padding: 0rem 8rem;
	}
}

/* 928px */
@media (max-width: 58em) {
	.navbar {
		padding: 0rem 2rem;
	}
}

/* 800px */
@media (max-width: 50em) {
	.mobile-menubars {
		display: block;
		font-size: 3.2rem;

		cursor: pointer;
	}

	.menu {
		position: absolute;
		top: 9rem;
		left: -100vw;

		display: flex;
		flex-direction: column;
		gap: 0;

		align-items: center;
		text-align: center;

		height: 100%;
		width: 100vw;

		background-color: #000;

		z-index: 99999999;
	}

	.menu-item:last-child {
		margin-top: 5rem;
	}

	.menu-item {
		width: 100%;
		list-style: none;
		letter-spacing: -0.05rem;
	}

	.menu-item a.menu-item-link {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 5rem 0;

		color: var(--color-white);
		text-decoration: none;
		transition: all 0.2s ease;
	}
	.menu-item a.menu-item-link:hover {
		color: var(--color-black);
		background-color: var(--color-white);
	}
	.menu-item a.menu-item-link:active,
	.menu-item a.menu-item-link.active {
		/* padding-bottom: 2.5rem; */
		border-bottom: unset;
	}

	.menu-item-center {
		align-self: center;
		min-width: 12rem;
	}

	.menu-item-btn:link,
	.menu-item-btn:visited {
		padding: 1rem 20rem;
	}

	.menu-item-btn:hover,
	.menu-item-btn:active {
		color: var(--color-black);
		background-color: var(--color-white);
	}

	.transition {
		transform: translateX(100vw);
		transition: transform 1s ease;
	}

	.transition-away {
		transform: translateX(-100vw);
		transition: transform 2s ease;
	}
}
