:root {
	--color-tag-blue: #3470f0;
}

.card {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;

	background-color: var(--color-pure-white);
	border-radius: 5px;
	overflow: hidden;

	box-shadow: 0 0 10px #c3c3c3;
}

.card.sm {
	grid-template-rows: 80% 20%;
}

.card.lg {
	grid-template-rows: 85% 15%;
}

.sm {
	height: 45vh;
	width: 30%;
}

.lg {
	height: 60vh;
	width: 48%;
}

.card-image {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
	overflow: hidden;
}

.card-image:hover,
.card-image:active {
	transform: scale(1.1);
	transition: transform 0.3s ease;
	cursor: pointer;
}

.card-tag {
	position: absolute;
	left: 1rem;

	background-color: var(--color-tag-blue);
	color: var(--color-pure-white);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 0.5rem 1rem;
}

.card.sm .card-tag {
	bottom: 20%;
}

.card.lg .card-tag {
	bottom: 15%;
}

.card-tag-text {
	font-weight: 700;
	letter-spacing: 0.25px;
}

.caption-container {
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--color-pure-white);

	padding: 1rem;
	grid-row: 2/-1;
	z-index: 9999;
}

.card-caption {
	display: block;
	text-align: center;
	font-size: 1.4rem;
	font-weight: 700;
}

/* 800px */
@media (max-width: 51em) {
	.sm {
		height: 45vh;
		width: 28vw;
	}

	.lg {
		height: 60vh;
		width: 44vw;
	}
}

/* 675px */
@media (max-width: 43em) {
	.sm {
		height: 40vh;
		width: 28vw;
		min-height: 25rem;
	}

	.lg {
		height: 50vh;
		width: 44vw;
		min-height: 30rem;
	}
}

/* 536px */
@media (max-width: 34em) {
	.sm {
		height: 40rem;
		width: 40rem;
	}

	.lg {
		height: 40rem;
		width: 40rem;
	}
}
