.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 3rem;

	padding: 2rem 20rem;
}

.gallery-heading {
	font-size: 3.2rem;
	margin-top: 6rem;
	margin-bottom: 2rem;
	text-align: center;
}

/* 1120px */
@media (max-width: 74em) {
	.gallery {
		padding: 2rem 8rem;
	}
}

/* 928px */
@media (max-width: 58em) {
	.gallery {
		padding: 2rem 2rem;
	}
}

/* 800px */
@media (max-width: 51em) {
	.gallery {
		padding: 2rem 0;
		justify-content: center;
	}
}

/* 536px */
@media (max-width: 34em) {
	.gallery {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
