.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 3rem;

	padding: 2rem 20rem;
}

.gallery-heading {
	font-size: 3.2rem;
	margin-top: 6rem;
	margin-bottom: 2rem;
	text-align: center;
}

.gallery > * {
}
