.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 4rem;
	margin-top: 6rem;

	color: var(--color-white);
	background-color: var(--color-black);
	padding: 8rem 20rem 4rem;
}
strong {
	text-align: center;
	font-size: 2.4rem;
}
span {
	font-size: 1.6rem;
}
.subscribe {
	display: flex;
	gap: 1rem;
	margin-bottom: 6rem;
}
.subscribe-input {
	font-size: 1.4rem;
	padding: 1rem 2rem;
	border: none;
}
.subscribe-input::placeholder {
	color: #c3c3c3;
}
.subscribe-btn {
	background-color: var(--color-black);
	color: var(--color-white);
	border: 1px solid var(--color-white);
	padding: 1rem 2rem;
	letter-spacing: 1px;

	transition: all 0.3s ease;
}
.subscribe-btn:hover,
.subscribe-btn:active {
	background-color: var(--color-pure-white);
	color: var(--color-black);
	cursor: pointer;
}
.sitemap {
	display: flex;
	gap: 5rem;
}
.sitemap-heading {
	font-size: 2.4rem;
	margin-bottom: 2rem;
}
.sitemap-list {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	list-style: none;
}
.footer-list-item {
	font-size: 1.6rem;
}

.footer-link:link,
.footer-link:visited {
	text-decoration: none;
	color: var(--color-white);

	transition: all 0.3s ease;
}

.footer-link:hover,
.footer-link:active {
	text-decoration: underline;
	color: var(--color-white);
}

/* 1120px */
@media (max-width: 74em) {
	.sitemap {
		display: flex;
		gap: 4rem;
	}

	.sitemap-heading {
		font-size: 2rem;
	}
	.footer-list-item {
		font-size: 1.4rem;
	}
}

/* 928px */
@media (max-width: 58em) {
	.sitemap {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 5rem;
	}

	.subscribe {
		margin-bottom: 3rem;
	}
}

/* 675px */
@media (max-width: 43em) {
	.footer {
		padding: 8rem 10rem 4rem;
	}
	strong {
		text-align: center;
		font-size: 2rem;
	}
	span {
		font-size: 1.4rem;
	}
}
